{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-6 mx-auto mb-3">
        <h2>About</h2>
        <hr />
        <p>GTMovieStore is Georgia Tech’s ultimate hub for movie lovers! Our platform lets students buy, review, and discuss movies with fellow Yellow Jackets, creating a vibrant film-loving community on campus. Whether you're into blockbuster hits or indie gems, GTMovieStore is the place to discover, connect, and enjoy.</p>
        <p>Browse our extensive collection of films, including the latest releases, timeless classics, and hidden gems. With just a few clicks, you can purchase your favorite titles and instantly stream them in high-definition quality. Be sure to leave a review to help contribute to the ever-growing community of film fanatics!</p>
        <p>Discover the convenience of our digital platform, where you have the flexibility to watch movies on your preferred device, whether it's a smart TV, tablet, or smartphone.Finding your
          next movie night pick has never been easier.</p>
      </div>
      <div class="col-md-6 mx-auto mb-3 text-center">
        <img src="{% static 'img/buzz.png' %}"
             class="max-width-100"
             alt="about" />
      </div>
    </div>
  </div>
</div>
{% endblock content %}
