{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
        <div class="col-md-6 mx-auto mb-3 text-center">
          <img src="{{ template_data.movie.image.url }}" class="rounded img-card-400" />
        </div>
        <div class="col-md-6 mx-auto mb-3">
          <h2>{{ template_data.movie.name }} ({{template_data.movie.release}})</h2>
          <p>{{template_data.movie.director}}</p>
          <!-- <div style = "display:flex; justify-content: left; align-items: baseline;"> -->
            <p><b>${{template_data.movie.price}}.00</b></p>
            <!-- <button style = "padding-left: 2.5em; padding-right: 2.5em; background-color: #cca845; color: whitesmoke; border-radius: 0.5em; border-color:#e6c56c; ">Buy ${{template_data.movie.price}}</button>  -->
            <!-- <button style = "padding-left: 2.5em; padding-right: 2.5em;">Write a Review</button> -->
            
          <!-- </div> -->

          <p class="card-text">
            <form method="post"
              action="{% url 'cart.add' id=template_data.movie.id %}">
              <div class="row">
                {% csrf_token %}
                <div class="col-auto">
                  <div class="input-group col-auto">
                    <div class="input-group-text">Copies</div>
                    <input type="number" min="1" max="10" class="form-control quantity-input" name="quantity" value="1">
                  </div>
                </div>
                <div class="col-auto">
                  <button class="btn text-white" style = "background-color: #e6c56c;" type="submit">Add to cart</button>
                </div>
              </div>
            </form>
          </p>

          <hr />
          <p><h4>Description:</h4> {{ template_data.movie.description }}</p>
          <br>
          <h4>Reviews</h4>
          <hr />
          <!-- TODO: check if user has already PURCHASED this movie... -->
          {% if user.is_authenticated %}
          <div class="container mt-4">
            <div class="row justify-content-center">
              <div class="col-12">
                <div class="card shadow p-3 mb-4 rounded">
                  <div class="card-body">
                    <b class="text-start">Create a review</b>
                    <br />
                    <br />
                    <form method="POST" action="{% url 'movies.create_review' id=template_data.movie.id %}">
                      {% csrf_token %}
                      <p>
                        <label for="comment">Comment:</label>
                        <textarea name="comment" required class="form-control" id="comment"></textarea>
                      </p>
                      <div class="text-center">
                        <button type="submit" class="btn bg-dark text-white">Add Review</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
          <div style = "overflow-y: scroll; max-height: 20em;">
            <ul class="list-group">
              {% for review in template_data.reviews %}
              <li class="list-group-item pb-3 pt-3">
                <h5 class="card-title">
                  Review by {{ review.user.username }}
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">
                  {{ review.date }}
                </h6>
                <p class="card-text">{{ review.comment }}</p>
                {% if user.is_authenticated and user == review.user %}
                <a class="btn btn-primary" href="{% url 'movies.edit_review' id=template_data.movie.id review_id=review.id %}">Edit</a>
                <a class="btn btn-danger" href="{% url 'movies.delete_review' id=template_data.movie.id review_id=review.id %}">Delete</a>
                {% endif %}
              </li>
              {% endfor %}
            </ul>

            <br>
          </div>

          

      </div>
    </div>
  </div>
</div>
{% endblock content %}